<script src="~/Scripts/View/ControlActions.js"></script>
<script src="~/Scripts/View/LandingPage.js"></script>

@{
    ViewBag.Title = "Home";
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style type="text/css">
    .btn {
        background-color: black;
        color: white;
        margin-top: 3%;
    }
</style>

<div class="hero"></div>
<div id="cenfoMarketPlace" class="container-fluid intro" id="cenfomarket">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Cenfo-MarketPlace</h1>
            <p class=" text-intro"><strong> Cenfo-MarketPlace</strong> is the new and most exciting digital market. You will be able to sell, buy or share NFTs in the same plataform. With this App, you will be able to have unique NFTs that are visible in your Collections. <strong> Cenfo-MarketPlace</strong> was recently built in 2022 and we distinguish by our innovative and safe technologies. </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 section-1 nopadding" id="work">
            <div class="logo-1 wp1"></div>
        </div>
        <div class="col-md-4 section-text2 nopadding">
            <div class="wp4">
                <h2 class="frame">As a Content Creator</h2>
                <p class="padding-paragraph"><strong>Cenfo-MarketPlace</strong> is the best place to show and sell your art. The amount of collections you can have is unlimited. We take care of your art and your transactions. We have rigorous security measures. It has never been as easy, build your business now and continue to create art.</p>
                <div class="thin-sep"></div>
            </div>
            <div class="small-featured-img seat-red">
                <div class="arrow"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 section-text nopadding">
            <div class="wp5">
                <h2 class="mech">As a buyer</h2>
                <p>You can register for <strong>free</strong>. Do not lose this opprtunity to enjoy art. From the comfort of your place, you can buy the original piece of digital art. Music, games, collective items, memes, virtual fashion and more! </p>
                <div class="thin-sep"></div>
            </div>
            <div class="small-featured-bird-img seat-black">
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-md-8 section-2 nopadding">
            <div class="logo-2 wp2"></div>
        </div>
    </div>
</div>
<div id="services" class="container-fluid">
    <div class="row">
        <div class="col-md-4 section-3">
            <div class="logo-3 wp3"></div>
        </div>
        <div class="col-md-4 section-text nopadding">
            <div class="wp5 text-align-center">
                <h2 class="front-frame">Services</h2>
                <p>* Auctions.</p>
                <p>* Safe Wallets.</p>
                <p>* Safe transactions.</p>
                <p>* Direct Acquisitions.</p>
                <p>* Collections for NFTs.</p>
                <p>* Public and private Collections and NFts.</p>
                <p>* SNotifications via Email, SMS and though the App.</p>
            </div>
            <div class="small-featured-img frame-red">
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-md-4 section-4"></div>
    </div>
</div>
<section class="flex-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="flex-twitter-icon"></div>
                            <h2 class="twitter-post-username">
                                <a href="#">Experience </a> <span> /Albert Wohan</span>
                            </h2>
                            <p class="twitter-post">I love Cenfo-MarketPlace, when I have time I like to look at the photos. Now I have 85 NFTs. This is my new hobby.</p>
                        </li>
                        <li>
                            <div class="flex-twitter-icon"></div>
                            <h2 class="twitter-post-username">
                                <a href="#">Experience</a> <span> /Berna Rojas</span>
                            </h2>
                            <p class="twitter-post">I am an artist. I feel that people can admire my work through Cenfo-MarketPlace. I am busy because my work is selling more than in Art-Galleries.</p>
                        </li>
                        <li>
                            <div class="flex-twitter-icon"></div>
                            <h2 class="twitter-post-username">
                                <a href="#">Experience</a> <span>/Gaming CR Company</span>
                            </h2>
                            <p class="twitter-post">As a company owner, I really think Cenfo-MarketPlace is business. Never thought this increase my earnings. Totally recommended.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="discover">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <a href="https://localhost:44363/Form/UserForm?Length=4" class="shop-btn">Discover Cenfo-MarketPlace </a>

            </div>
        </div>
    </div>
</section>

<section id="team" class="flex-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div>
                                <img class="img-circle team-member" src="~/Content/LandingAssets/img/Sebastian2.jpg" />
                            </div>
                            <h2 class="twitter-post-username">
                                <a href="#">Team Member </a> <span> / Sebastián Quirós</span>
                            </h2>
                            <p class="twitter-post">Software Engineer</p>
                        </li>
                        <li>
                            <div>
                                <img class="img-circle team-member" src="~/Content/LandingAssets/img/Coralia2.png" />
                            </div>                            <h2 class="twitter-post-username">
                                <a href="#">Team Member </a> <span> / Coralia Arguedas Feijoó</span>
                            </h2>
                            <p class="twitter-post">Software Engineer</p>
                        </li>
                        <li>
                            <div>
                                <img class="img-circle team-member" src="~/Content/LandingAssets/img/pablopedroza2.png" />
                            </div>                            <h2 class="twitter-post-username">
                                <a href="#">Team Member </a> <span> / Pablo Pedroza</span>
                            </h2>
                            <p class="twitter-post">Software Engineer</p>
                        </li>
                        <li>
                            <div>
                                <img class="img-circle team-member" src="~/Content/LandingAssets/img/percy2.png" />
                            </div>
                            <h2 class="twitter-post-username">
                                <a href="#">Team Member </a> <span> / Percy Jiménez Morera</span>
                            </h2>
                            <p class="twitter-post">Software Engineer</p>
                        </li>
                        <li>
                            <div>
                                <img class="img-circle team-member" src="~/Content/LandingAssets/img/graciela2.png" />
                            </div>
                            <h2 class="twitter-post-username">
                                <a href="#">Team Member </a> <span> / Graciela Méndez Rojas</span>
                            </h2>
                            <p class="twitter-post">Software Engineer</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sign_up">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 sign-up">
                <h2>Safe, Art, Fun and Business!</h2>
                <h3> Send your email, we will contact you.</h3>

                <form name="signup-form">
                    <input id="emailCustomer" class="signup-input" type="email" name="email_address" value="" placeholder="enter your email..." title="Please enter a valid email address." required>
                    <button id="btn-sendEmailCenfoMarket" type="submit" class="submit-btn">GO</button>
                    <p id="email-sent" class="notVisible color">The email was sent. We will be in contact soon. </p>
                </form>
            </div>
        </div>
    </div>
</section>