
@{
    ViewBag.Title = "CollectionContentCreator";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/View/ControlActions.js"></script>
<script src="~/Scripts/View/CollectionContentCreator.js"></script>

<div style="text-align: center; margin:60px 0 40px 0">
    <p><h1> Collection <span id="name"></span> </h1></p>

</div>


<div class="container">

    <div id="contenedor" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4" style=" display: flex; flex-wrap: wrap;">


    </div>



</div>
